<!DOCTYPE html>
<html>
<head>
    <title>Enter Sensor Data</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Enter Sensor Data</h1>
        <form method="POST">
            <label for="CO">CO (ppm):</label>
            <input type="number" id="CO" name="CO" required>
            <br>
            <label for="NO2">NO2 (ppm):</label>
            <input type="number" id="NO2" name="NO2" required>
            <br>
            <label for="SO2">SO2 (ppm):</label>
            <input type="number" id="SO2" name="SO2" required>
            <br>
            <input class="submit-button" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
